*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

#htmlID {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  flex-direction: column; }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-12rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "sans-serif";
  font-weight: 350;
  line-height: 1.5; }

.heading-main {
  color: #f8f8f8;
  display: flex;
  position: relative;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-main--title {
    display: inline-flex;
    font-size: 10rem;
    font-weight: 350;
    letter-spacing: 4rem;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media screen and (min-width: 360px) and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
      .heading-main--title {
        font-size: 4rem;
        letter-spacing: 3rem; } }
    @media screen and (max-width: 360px) and (max-height: 640px) and (-webkit-device-pixel-ratio: 2) {
      .heading-main--title {
        font-size: 4rem; } }

iframe {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  left: 0;
  right: 0; }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    iframe {
      width: 95%;
      height: 75%; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    iframe {
      width: 55%;
      height: 40%; } }

.video-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem; }
  .video-box__content {
    width: 70%; }

.info-box {
  background-color: rgba(255, 255, 255, 0.82);
  padding: 4.5rem;
  margin: 2rem;
  width: 20rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  background-image: linear-gradient(to right bottom, rgba(102, 146, 177, 0.8), rgba(98, 143, 177, 0.8)), url(../../img/IMG_20200910_092605.jpg);
  background-size: cover; }
  .info-box__text {
    color: white; }

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row nowrap;
  align-content: flex-end; }
  @media screen and (max-width: 90rem) {
    .image-box {
      flex-flow: column nowrap; } }
  .image-box__caption {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem; }
  .image-box__images {
    /*@media screen and (max-width: 90rem) {

    }*/ }
  .image-box__kuva {
    transform: scale(0.6);
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%; }

.reitti-box {
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  padding: 3rem; }
  .reitti-box__reitti-kuva {
    background-color: rgba(255, 255, 255, 0.82);
    margin-top: 0.7rem;
    margin-right: 3rem;
    width: 15%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; }
    @media screen and (min-width: 650px) and (max-width: 1000px) {
      .reitti-box__reitti-kuva {
        width: 30%; } }
    @media screen and (min-width: 26rem) and (max-width: 65rem) and (-webkit-min-device-pixel-ratio: 1) {
      .reitti-box__reitti-kuva {
        width: 30%; } }
    @media screen and (min-width: 10rem) and (max-width: 36rem) and (-webkit-min-device-pixel-ratio: 1) and (max-height: 700px) {
      .reitti-box__reitti-kuva {
        width: 30%; } }
    @media screen and (max-width: 55rem) and (max-height: 92rem) {
      .reitti-box__reitti-kuva {
        width: 30%; } }

.map-container {
  display: flex;
  height: 70vh;
  z-index: 300; }

#map {
  position: absolute;
  height: 40%;
  width: 40%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 600px) {
    #map {
      height: 50vh;
      width: 50vh;
      z-index: 300; } }

.header {
  height: 65vh;
  max-height: 580px;
  background-image: linear-gradient(to right, rgba(187, 231, 178, 0.8), rgba(11, 121, 11, 0.8)), url("../img/metsakko_small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 10rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  /*@media only screen and (min-width: 640px) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  }*/
  /*@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  }*/ }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right, rgba(187, 231, 178, 0.8), rgba(11, 121, 11, 0.8)), url("../img/metsakko.jpg"); } }
  .header__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh; }

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style-type: none; }

.buttons a {
  text-decoration: none;
  color: #ece7ff;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 10001;
  transition: all 0.4s ease-out; }

.buttons a:hover {
  letter-spacing: 9px;
  font-size: 26px; }

.hamburger {
  display: none; }

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #ece7ff;
  margin: 5px;
  transition: all 0.3s ease; }

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden; }
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #7bd078;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10001; }
  .buttons a:hover {
    letter-spacing: 9px;
    font-size: 26px; }
  .buttons li {
    opacity: 0; }
  .hamburger {
    display: block;
    margin: 10px;
    position: absolute;
    right: 0;
    z-index: 10001; } }

.nav-active {
  position: fixed;
  transform: translateX(0);
  z-index: 10000; }

@keyframes buttonsFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

.navigation2__button {
  background-color: white;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.1); }

.navigation2__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  background-image: radial-gradient(#229422, #185418);
  z-index: 1000; }

.navigation2__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0; }

.navigation2__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation2__item {
  margin: 1rem; }

.navigation2__link:link, .navigation2__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all .6s; }

.navigation2__link:hover, .navigation2__link:active {
  background-position: 100%;
  color: #1b5d04;
  transform: translateY(0.3rem); }

.footer {
  background-color: #20221d;
  padding: 5rem 0;
  margin-top: 10rem; }

.footer-text {
  text-align: center;
  font-size: 3rem;
  color: #f1e8e8; }

.main-home {
  height: 70vh;
  position: relative; }
  @media screen and (min-width: 650px) and (max-width: 1000px) {
    .main-home {
      height: 55vh; } }
  @media screen and (min-width: 36rem) and (max-width: 65rem) and (-webkit-min-device-pixel-ratio: 1) {
    .main-home {
      height: 40vh; } }
  @media screen and (min-width: 10rem) and (max-width: 36rem) and (-webkit-min-device-pixel-ratio: 1) and (max-height: 700px) {
    .main-home {
      height: 30vh; } }
  @media screen and (max-width: 55rem) and (max-height: 92rem) {
    .main-home {
      height: 100vh; } }

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7bd078;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(163, 238, 163, 0.8), rgba(9, 134, 9, 0.8)), url(../../img/IMG_20200910_092605.jpg);
  background-size: cover; }

body {
  padding: 0; }

.header {
  margin-bottom: 5rem;
  max-height: 500px; }

.main {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  position: relative;
  justify-content: center; }

.main div {
  width: 70%;
  background-color: #00000008;
  box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
  padding: 5rem; }
  @media screen and (min-width: 650px) and (max-width: 1000px) {
    .main div {
      width: 100%; } }
  @media screen and (min-width: 28rem) and (max-width: 65rem) and (-webkit-min-device-pixel-ratio: 1) {
    .main div {
      width: 100%; } }
  @media screen and (min-width: 10rem) and (max-width: 36rem) and (-webkit-min-device-pixel-ratio: 1) and (max-height: 700px) {
    .main div {
      width: 100%; } }
  .main div h2 {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 80%; }
  .main div span {
    width: 80%; }

/*.main div h2{
  width: 100%;
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 80%;
}*/
/*.main span{
  width: 80%;
}*/
.section-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7bd078;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(163, 238, 163, 0.8), rgba(9, 134, 9, 0.8)), url(../../img/IMG_20200910_092605.jpg);
  background-size: cover; }

.section-laatikko {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 20rem 0;
  height: 70vh; }
  @media screen and (max-width: 60rem) {
    .section-laatikko {
      height: 65vh; } }
  @media screen and (max-height: 80rem) {
    .section-laatikko {
      height: 80vh; } }

.ohje-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.82);
  padding: 4.5rem;
  margin: 2rem;
  min-height: 25rem;
  width: 60rem;
  height: 60rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
  overflow: scroll; }
  .ohje-box__heading {
    width: 100%;
    font-size: 3rem; }
  .ohje-box__imgtext {
    margin-top: 2rem;
    width: 100%; }
  .ohje-box__text {
    margin-top: 2rem;
    font-size: 2rem; }
