.header {
  height: 40rem;
  max-height: 30rem;
  position: relative;
  margin-bottom: 0rem;
  &__image{
    height: 40rem;
    max-height: 30rem;
    z-index: -1;
    background-image: linear-gradient(
                    to right,
                    rgba(187, 231, 178, 0.8),
                    rgba(#0b790b, 0.8)),
    url("../img/metsakko_small.jpg");
    background-size: cover;
    background-position: top;
    position: absolute;
    width: 100%;
    margin-bottom: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    /*@media only screen and (min-width: 640px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
    }*/
    /*@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
    }*/
    @media only screen and (max-width: 50rem) {
      background-image: linear-gradient(
                      to right,
                      rgba(187, 231, 178, 0.8),
                      rgba(#0b790b, 0.8)),
      url("../img/metsakko.jpg");
    }
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {

    }
  }
  .h1_container{
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;

    h1{
      color: #ffffff;
      font-size: 6rem;
      width: fit-content;
      font-weight: 100;
      text-transform: uppercase;
    }
  }


  &__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}