.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style-type: none;

}

.buttons a {
  text-decoration: none;
  color: #ece7ff;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 10001;
  transition: all 0.4s ease-out;
}

.buttons a:hover {
  letter-spacing: 9px;
  font-size: 26px;
}

.hamburger {
  display: none;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #ece7ff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #7bd078;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10001;

  }

  .buttons a:hover {
    letter-spacing: 9px;
    font-size: 26px;
  }


  .buttons li {
    opacity: 0;
  }

  .hamburger {
    display: block;
    margin: 10px;
    position: absolute;
    right: 0;
    z-index: 10001;
  }
}
.nav-active {
  position: fixed;
  transform: translateX(0);
  z-index: 10000;

}

@keyframes buttonsFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



.navigation2 {


  &__button {
    background-color: white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1.2rem 2rem rgba(black, .1);


  }

 &__background {
   height: 4rem;
   width: 4rem;
   border-radius: 50%;
   position: fixed;
   top: 5rem;
   right: 5rem;
   background-image: radial-gradient(#229422, #185418);
   z-index: 1000;


 }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
      background-size: 250%;
      transition: all .6s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: #1b5d04;
      transform: translateY(0.3rem);
    }
  }

}
