.nav  {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  list-style-type: none;
}
.buttons li{
  margin-right: 5rem;
}
.nav ul{
  margin-right: 5rem;
  margin-left: auto;
}

.buttons button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  color: #ece7ff;
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  z-index: 10001;
  transition: all 0.2s ease-out;
  cursor: pointer;
  text-shadow: -1px 1px 4px black;
}

.buttons button:hover {
  transform: scale(1.25);
}
.buttons button:active{
  color: #ece7ff9e;
  transition: 0s;
}

.hamburger {
  display: none;
}

.hamburger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #ece7ff;
  margin: 0.5rem;
  transition: all 0.3s ease;
}

@media screen and (max-width: 80rem) {
  body {
    overflow-x: hidden;
  }
  .buttons {
    position: fixed;
    top: 0;
    right: 0;
    height: 10%;
    width: 100vw;
    background-color: #7bd078;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translateX(100%);
    z-index: 10001;

  }

  .buttons button:hover {
    transform: scale(1.25);
  }
  .nav ul{
    margin-right: 0;
    margin-left: auto;
  }

  .buttons li {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 2.5rem;
    top: 1.6rem;
    cursor: pointer;
    z-index: 10001;
  }
}
.nav-active {
  position: fixed;
  transform: translateX(0);
  transition: transform 0.5s ease;
  z-index: 10000;
}

@keyframes buttonsFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
  position: fixed;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
  position: fixed;
}


