.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style-type: none;
}

.buttons a {
  text-decoration: none;
  color: #ece7ff;
  font-size: 30px;
}

.hamburger {
  display: none;
}