/node_modules/
/.idea/shelf/vcs.xml
/.idea/shelf/unnamed.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_29_9_2020_13_31__Default_Changelist_.xml
/.idea/workspace.xml
/css/style.css
/.idea/shelf/Muutoksia_info-boxiin_ja_testi.xml
/.idea/shelf/Muutoksia_info-boxiin_ja_testi/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_30_09_2020_15_04_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_01_10_2020_21_29_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_02_10_2020_10_40_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_02_10_2020_16_58_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_19_33_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_19_33_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_21_20_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_22_05_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_22_47_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_11_18_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_13_46_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_13_46_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_13_48_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_15_02_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_06_10_2020_13_45_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_30_09_2020_15_01_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_30_09_2020_15_04__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_01_10_2020_21_29__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_02_10_2020_10_40__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_02_10_2020_16_58__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_19_33__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_19_33__Default_Changelist_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_21_20__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_22_05__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_03_10_2020_22_47__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_11_18__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_13_46__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_13_48__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_10_2020_15_02__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_06_10_2020_13_45__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_30_09_2020_15_01__Default_Changelist_.xml
