
.images {

}
.image-box {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  flex-flow: row nowrap;
  align-content: flex-end;


  @media screen and (max-width: 90rem) {
    flex-flow: column nowrap;
  }
  &__caption {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;

  }


  &__images {
    /*@media screen and (max-width: 90rem) {

    }*/
  }

  &__kuva {
    transform: scale(0.7);
    width: 40rem;
    height: 30rem;
    margin: 2rem;
    margin-bottom: 1rem;

  }
}

.reitti-kuva{
  background-color: rgba(white, 0.82);
  margin: 1px;
  width: 25%;
  height: auto;
  float: left;
  //max-height: 18rem;
  //min-height: 18rem;
  border-radius: 3px;
  box-shadow: 0 1.2rem 4rem rgba(black, .15);
  transition: transform .3s;
}