
.images {

}
.image-box {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  flex-flow: row nowrap;
  align-content: flex-end;


  @media screen and (max-width: 90rem) {
    flex-flow: column nowrap;
  }
  &__caption {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;

  }


  &__images {
    /*@media screen and (max-width: 90rem) {

    }*/
  }

  &__kuva {
    transform: scale(0.6);
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;

  }
}

