.map-container {
  display: flex;
  height: 70vh;
  z-index: 300;
}

#map {
  position: absolute;
  height: 40%;
  width:40%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 600px) {
    height: 50vh;width: 50vh;
    z-index: 300;
  }
}