iframe {
  align-self: center;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


  @media screen
  and (max-width: 360px) {
    width: 55%;
    height: 70%;
  }

}


.video-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  margin-top: 10rem;
  background-color: white;


  &__content {
    width: 70%;
  }
}


