iframe {
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


  @media screen
  and (max-width: 360px) {
    width: 55%;
    height: 70%;
  }

}


.video-box {
  //width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;

  &__content {
    width: 70%;
  }
}


