.main-home {
  display: flex;
  justify-content: center;
  min-height: 250vh;
  //background-color: white;
  padding: 10rem 0;
  //margin-bottom: 3rem;
  clip-path: polygon(0 0, 100% 7vh, 100% 100%, 0% 100%);

  @media screen and (max-width: 60rem) {
    //height: 90vh;
    clip-path: polygon(0 0, 100% 7vh, 100% 100%, 0% 100%);
  }
}

.video {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  bottom: 0;
  min-height: 100vh;
  color: white;
  width: 100%;
}

#pause {
  position: absolute;
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  top: 5rem;
  right: 5rem;
}

.main-home figure {
  width: 40%;
  color: white;
  font-size: 3rem;
}

.first-paragraph {
  position: absolute;
  top: 25rem;
  left: 5rem;
  width: 40%;
}

.second-paragraph {
  position: absolute;
  bottom: 50%;
  top: 50%;
  right: 5rem;
  width: 40%;
}

.third-paragraph {
  position: absolute;
  bottom: 25rem;
  left: 5rem;
  width: 40%;
}

.makers {
  position: relative;
  background: transparent;
  width: 100%;
  height: auto;
}

.makers-text {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.image-box img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.image-box figure {
  width: 15rem;
  height: 15rem;
  margin: 5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 48rem) {
  /*.image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }*/

  .image-box figure {
    width: 10rem;
    height: 10rem;
    display: flex;
    margin: 5rem;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .image-box img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
}
