.main-home {
  display: flex;
  justify-content: center;
  min-height: 300rem;
  //background-color: white;
  padding: 10rem 0;
  //margin-bottom: 3rem;
  clip-path: polygon(0 0, 100% 2.5%, 100% 100%, 0% 100%);

}

.bg-image {
  object-fit: cover;
  object-position: bottom;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.main-home figure p {
  width: 35%;
  color: white;
  font-size: 4rem;
}

.first-paragraph {
  position: absolute;
  top: 20rem;
  left: 5rem;
}

.second-paragraph {
  position: absolute;
  top: 70rem;
  right: 5rem;
}

.third-paragraph {
  position: absolute;
  top:130rem;
  left: 5rem;
}

.video-box {
  position: absolute;
  bottom: 0;
  border-style: solid;
  border-color: white;
  border-radius: 1%;
  border-width: 0.5rem;
  //box-shadow: 0 1.2rem 4rem rgba(black, .80);
}

.makers {
  position: relative;
  background: transparent;
  width: 100%;
  height: auto;
  padding: 3rem;
  border-style: groove;
}

.makers-text {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  &__images{
    width: 15rem;
    height: 15rem;
    margin: 0 5rem 0 5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 40rem){
        transform: scale(1.5);
        width: 10rem;
        height: 10rem;
        display: flex;
        margin: 0 5rem 0 5rem;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }
  }
  &__kuva{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    @media only screen and (min-width: 40rem){
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
  }
  &__caption{
    min-width: 10rem;
    text-align: center;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 80rem){
  .main-home figure p {
    width: 40%;
  }
}

@media only screen and (max-width: 70rem){
  .main-home figure p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 50rem){
  .main-home figure p {
    font-size: 2.5rem;
  }

  .video-box {
    bottom: 3rem;
  }
}


