.main-home {
  height: auto;
  min-height: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
  //background-color: #7bd078;
  background-image: linear-gradient(
                  to right,
                  rgba(187, 231, 178, 0.9),
                  rgba(#0b790b, 0.7));


  @media screen and (max-width: 60rem) {
    height: 95vh;
  }


}

.main-home figure {
  font-size: 3rem;
  text-align: center;
  color: #ece7ff;
  z-index: 10002;
}

.main-home iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(#fff, 100);
  padding: 1rem;
  height: 70vh;
  width: 80%;
  border-radius: 30px;
  box-shadow: 0 1.2rem 4rem rgba(black, .15);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.makers {
  background-color: white;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.makers-text {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.image-box img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.image-box figure {
  width: 15rem;
  height: 15rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 48rem) {
  .image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-box figure {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .image-box img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
}
