.main {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  position: relative;
  justify-content: center;
}
.main div{
  width: 70%;
  background-color: #00000008;
  box-shadow: 0 1.2rem 4rem rgba(black, .15);

  padding: 5rem;
  @media screen and (min-width: 650px) and (max-width: 1000px) {
    width: 100%;
  }
  @media screen and (min-width: 28rem) and (max-width: 65rem) and (-webkit-min-device-pixel-ratio: 1) {
    width: 100%;
  }
  @media screen and (min-width: 10rem) and (max-width: 36rem) and (-webkit-min-device-pixel-ratio: 1) and (max-height: 700px) {
    width: 100%;
  }

  h2 {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 80%;
  }
  span {
    width: 100%;
    margin-bottom: 5rem;
  }
}

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7bd078;
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba(#a3eea3, 0.8),
                  rgba(#098609, 0.8)),
  url(../../img/IMG_20200910_092605.jpg);
  background-size: cover;
}
