.main {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  position: relative;
  justify-content: center;
  margin-bottom: 3rem;
}
.main div{
  width: 70%;
  background: white;
  box-shadow: 0 0.2rem 4rem rgba(black, .15);
  margin-top: 2rem;
  margin-bottom: 2rem;

  padding: 5rem 7rem 5rem 7rem;
  @media screen and (min-width: 650px) and (max-width: 1000px) {
    width: 100%;
  }
  @media screen and (min-width: 28rem) and (max-width: 65rem) and (-webkit-min-device-pixel-ratio: 1) {
    width: 100%;
  }
  @media screen and (min-width: 10rem) and (max-width: 36rem) and (-webkit-min-device-pixel-ratio: 1) and (max-height: 700px) {
    width: 100%;
  }
  @media only screen and (min-width: 2500px) {
    padding: 10rem 13rem 10rem 13rem;
  }

  h2 {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 80%;
    color: #1fbf1a;
    @media only screen and (min-width: 1950px) {
      font-size: 5rem;
    }
  }
}

.main div .reitti-box article {
  width: 100%;
  margin-bottom: 5rem;
  font-size: 2rem;

  @media only screen and (min-width: 1950px) {
    font-size: 3rem;
  }
}
.main div .reitti-box h3 {
  color: #1fbf1a;
}
.main div .reitti-box p {
  margin-top: 2rem;
}

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7bd078;
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba(#a3eea3, 0.8),
                  rgba(#098609, 0.8)),
  url(../../img/IMG_20200910_092605.jpg);
  background-size: cover;
}

.ohje-box-reitit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  margin-bottom: 3rem;
  background-color: #7bd078;
  background-image: linear-gradient(to right, rgba(187, 231, 178, 0.9), rgba(11, 121, 11, 0.7));
  clip-path: polygon(0 0, 100% 0.73%, 100% 100%, 0 99.27%);
}