






.section-laatikko {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7bd078;
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba(#60a267, 0.8),
                  rgba(#be2d9f, 0.8)),
  url(../../img/IMG_20200910_092605.jpg);
  background-size: cover;
}